 
<div class="container">
  <h1><%= @article.title %></h1>
  <h2>Text</h2>
	<p class="lead"><%= @article.text %></p>
  
	<h3>Comments</h3>
	<%= render @article.comments %>
	 
	<h4>Add a comment:</h4>
	<%= render 'comments/form' %>
	 
	<%= link_to 'Edit', edit_article_path(@article), class:"btn btn-primary" %> 
	<%= link_to 'Back', articles_path, class:"btn btn-light" %>

</div>